<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sarashpaz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".font"
        android:allowBackup="true"
        android:icon="@mipmap/logo4"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityCallme" />
        <activity android:name=".ActivityAbout" />
        <activity android:name=".ActivityLiked" />
        <activity android:name=".ActivityTozihat" />
        <activity android:name=".ActivitySingUp" />
        <activity android:name=".ActivityLogin" />
        <activity android:name=".ActivityMenu" />
        <activity android:name=".ActivityHistory" />
        <activity android:name=".ActivitySearch" />
        <activity android:name=".ActivityMenuVideo" />
        <activity android:name=".ActivityDastebandi" />
        <activity android:name=".ActivityMain" />
        <activity android:name=".ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>